body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

#view-container {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display:  flex;
}

#view-container > .view-welcome,
#view-container > .view-2d,
#view-container > .view-3d {
    display: none;
    width: 100%;
    height:  100%;
}

#view-container[mode=''] > .view-welcome {
    display: block;
    display: flex;
}

body[drop-target] > #view-container[mode=''] > .view-welcome.view-welcome {
    display: none;
}

#view-container[mode='2d'] > .view-2d {
    display: block;
}

#view-container[mode='3d'] > .view-3d {
    display: block;
}

#status {
    color: black;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: silver;
    opacity: 0.6;
    padding: 0px 15px 0px 5px;
    display: block;
    transition: 0.5s 0.1s;
}

#status[hidden] {
    opacity: 0;
}

.footage {
    height: 20px;
}

#drop-target-informer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
}

#drop-target-informer {
    display: none
}

body[drop-target] > #drop-target-informer {
    display: flex;
}

#drop-target-informer > .message {
    border: 4px dashed #ddd;
    pointer-events: none;
}

.message {
    flex: auto;
    font-size: 30px;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.view-legend {
    width: 200px;
    height: 80px;
    position: absolute;
}

[location="right-bottom"] {
    right: 20px;
    bottom: 20px;
}

[location="right-top"] {
    right: 20px;
    top: 20px;
}

[location="left-bottom"] {
    left: 20px;
    bottom: 20px;
}

[location="left-top"] {
    left: 20px;
    top: 20px;
}

[location="none"] {
    display: none;
}